*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Belanosima', sans-serif;
font-family: 'Geologica', sans-serif;
font-family: 'Noto Serif', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
}
header{
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    background-color: #fcdae2;
    background-size: cover;
    height: 100vh;
}
.banner-container{
    
    padding: 0 50px;
     }

.banner-image{
height: 190px;
margin-top: -280px;

}
.banner-title{
    font-weight: bolder;
    font-size: 45px;
    padding-bottom: 15px;
}
.title-hover:hover{
    color: rgb(60, 194, 60);
}
.banner-description{
    padding-bottom: 26px;
    text-align: left;
}
.banner-btn{
    text-decoration: none;
    background-color: #E55473;
    padding: 9px 18px;
    color: aliceblue;
    border-radius: 5px;
    text-align: center;
}
.button-hover:hover{
    background-color: rgb(60, 194, 60) ;
}
/* feature section*/


.feature-container{
    margin-top: 120px;
}

.feature-title{
    text-align: center;
    padding-bottom: 20px;
}

.feature-box{
    display: flex;
    width: 80%;
    margin: auto;
   gap: 40px;
   padding-top: 20px;
    padding-left: 52px;
}


.pink-box{
    height: 330px;
    width: 290px;
    background-color: #f0cbdd;
    border-radius: 300px 300px 0 0;
}
.pink-flower{
    height: 280px;
    padding-top: 50px;
    text-align: center;
    padding-left: 28px;
}
.red-box{
    height: 330px;
    width: 290px;
    background-color:rgb(242, 169, 169);
    border-radius: 300px 300px 0 0;

}
.red-flower{
    height: 280px;
    padding-top: 50px;
    text-align: center;
    padding-left: 19px;

}
.mint-box{
    height: 330px;
    width: 290px;
    background-color:rgb(176, 228, 210);
    border-radius: 300px 300px 0 0;
}
.yellow-flower{
    height: 280px;
    padding-top: 50px;
    text-align: center;
    padding-left: 51px;

}

.tree{
    text-align: center;
    padding-top: 13px;
}

/*more*/
.more-container{
    margin-top:90px ;
}

.more-options{
    display: flex;
    justify-content: space-around;
}
.more-btn{
    margin-top: 90px;
}

.birthday{
    display: flex;
   align-items:center; 
}
.birth-title{
    font-size: 15px;
    
}
.birth{
    padding-bottom: 17px;
}
.sympathy{
    display: flex;
    align-items:center; 
}
.custom{
    display: flex; 
    align-items:center;   
}
.birth-img{
    height: 150px;
}
.custom{
    height: 200px;
}

/*service-containe*/

.service-container{
    width: 77%;
    margin: auto;
    background-color: rgb(228, 224, 224);
    height: 180px;
    margin-top: 120px;
    border-radius: 8px;
    margin-bottom: 40px;
}

.support-service{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 43px;
}

.Support-img{
    height: 68px;
    padding-left: 30px;
    
}
.man-img{
    padding-left: 95px;
}
.bouquet-img{
    padding-left: 95px;
}
.call-center{
    padding-left: 40px;
}
.Support-line{
    text-align: center;
}
/*sale container*/

.sale-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 160px;
    background-color: #f8eef3;
    height: 500px;
    margin-top: 90px;

}
.sale-title{
    font-weight: bolder;
    font-size: 29px;
}
.sale-description{
    padding-top: 20px;
    padding-bottom: 34px;
}
.sale-img{
    height: 330px;
}
span{
  color:#E55473; 
}       
/*instagram*/
.instagram-container{
    margin-top: 90px;
    margin-bottom: 40px;
}
.instagram-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    padding-top: 22px;
    
}
.instagram-flower{
    height: 280px;
    width: 230px;
    border-radius: 3px;
}
/*deals*/
.deals-container{
    background-image: url("images/Rectangle\ 9.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 77%;
    margin: auto;
    height: 310px;
    margin-top: 90px;
    margin-bottom: 20px;
}
.deals-description{
    text-align: center;
    padding-top: 85px;
}
.deals-title{
    padding-bottom: 6px;
    font-size:29px ;
}
.email-box{
    width: 440px;
    height: 42px;
    border: none;
    border-radius: 5px;
    margin-top: 28px;
    margin-right: 12px;
}
/*footer*/

footer{
    background-color: black;
    background-size: cover;
    height: 340px;
    margin-bottom: 20px;
}
.footer-container{
    color: aliceblue;
   text-align: center;
   padding-top: 80px;
  
}
.footer-description{
    padding-bottom: 45px;
}